.error {
  color: red;
  text-align: center;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;

}

.hhh {
  height: 500px;
  width: 500px;
}